<h1>Albums</h1>

<div class="card-list">
    {{#each albums}}
        <section class="card album">

            {{!-- display first available image only --}}
            {{#each this.images}}
                {{#if @first}}
                    <img src="{{this.url}}" />
                {{/if}}
            {{else}}
                <img src="https://via.placeholder.com/640/eee/eee?text=img" />
            {{/each}}

            <header>
                <h2>{{this.name}}</h2>
                {{this.total_tracks}} tracks
            </header>

            <a class="btn" href="/tracks/{{this.id}}">View tracks</a>
        </section>
    {{/each}}
</div>